[Unit]
Description=Python DHT Logger Service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/pi/pyenv
ExecStart=/home/pi/pyenv/bin/python3 /home/pi/dht_influxdb/airpi.py --tags='hostname=airpi,location=basement,station=MyAirPiBoard' --influx_server=192.168.5.11
Environment="PATH=/home/pi/pyenv/bin"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


